body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: lightblue;
}

#instructions {
    display: block;
}

#options {
    display: none;
}